# Ignore Build & Debug Junk
*.dep
*.pbi
*.pbd
*.pbw
*.pp
*.xcl
*.obj
*.o
*.out
*.hex
*.bin
*.map
*.elf
*.axf
*.ninja
*.ninja_log
*.ninja_deps

# Ignore IDE Settings (IAR/Keil/Eclipse)
*.ewt
*.ewd
*.ewp
*.browse
*.sim
*.cproject
*.project
.settings/
Debug/
Release/
settings/

#ignore config files
*.dep
*.ewd
*.ewp
*.ewt